/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

.carousel-content p {
    display: block !important;
}

a[data-toggle='collapse'] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.background-dark {
    background: #2e2e2e;
}

.labelColor1 {
    background: yellow;
}

.labelColor2 {
    background: red;
}

.editor {
    background-color: #2e2e2e;
    width: 100%;
    height: 100%;
}

.welcome {
    display: flex;
    background-color: #2e2e2e;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: flex;
    margin-left: 0;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    margin-left: 0;
    transition: all 0.6s cubic-bezier(0.21, 1.035, 0.355, 1);
    transform-origin: center left;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul li {
    width: 100%;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    padding: 20px;
    padding-left: 40px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:focus {
    transition: all 0.3s;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #888888;
    transition: all 0.3s;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
    color: #1a1a1a;
    background: #fff;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
}

.profile {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 1.5em;
    display: block;
}

.draftcard {
    width: 15rem;
    height: 15rem;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.vh100 {
    height: 100vh;
}

.main {
    margin: 50px;
    justify-content: center;
    align-items: center;
}

.editArea {
    margin: 40px;
    color: white;
    align-items: center;
    justify-content: center;
}

.flex-container-main {
    display: flex;
    flex-direction: row;
    background-color: #2e2e2e;
}

.flex {
    display: flex;
}

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dh {
    justify-content: left;
    color: white;
    padding-left: 30px;
}

.yCen {
    align-items: center;
}

.xCen {
    justify-content: center;
}

.grid-col {
    display: flex;
    padding: 15px;
}

.excelfile {
    width: 300px;
}

.summernote {
    width: 100%;
    margin-top: 40px;
}

.edit {
    margin: 10px;
}

.emailform {
    color: white;
    border: none;
    border-bottom: 2px solid grey;
    background-color: transparent;
    width: 30%;
}

.emailform:focus {
    outline: none;
}

.cell {
    height: 15px;
}

.note-icon-magic,
.note-icon-style,
.note-icon-bold,
.note-icon-underline,
.note-icon-eraser,
.note-icon-font.note-recent-color,
.note-icon-caret,
.note-current-fontname,
.note-icon-unorderedlist,
.note-icon-orderedlist,
.note-icon-align-left,
.note-icon-undo,
.note-icon-redo,
.fa.fa-hello,
.fa.fa-var {
    color: white;
}

.loginP {
    color: #535353;
    font-size: 14px;
}

.loginP a {
    color: black;
}

.loginF {
    border: none;
    background-color: transparent;
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.loginF::placeholder {
    color: #a8a8a8;
}

.loginF:focus {
    outline-color: #c4c4c4;
}

.center {
    justify-content: center;
}

.newAnimation {
    animation: slideRight 0.6s ease-in-out forwards;
    transform: translateY(300px);
}

.modal-backdrop {
    z-index: -1;
}

.trash {
    height: 20px;
    background-color: transparent;
    border: none;
}

.trash:focus {
    outline: none;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes expand {
    0% {
        transform: translateX(1400px);
    }
    100% {
        transform: translateX(0px);
    }
}
