
* {
	text-align: center;
}

ul {
    list-style: none;
    padding-left: 0;

}
h2 {
	padding-top: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.main-sheet {
	display: flex;
	flex-direction: row;

}

.column {
	background-color: rgba(14, 221, 138,0.2);
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
}